h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  position: relative;
  top: 10px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 40px auto;
}

.weather-app {
  max-width: 600px;
  margin: 40px auto;
  margin-bottom: 0;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 15px;
  font-family: "Unbounded", cursive;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-left: 20px;
  height: 64px;
  width: 64px;
}

.units {
  position: relative;
  font-size: 16px;
  top: 10px;
}

.current-temperature {
  color: black;
  font-size: 50px;
  font-weight: 100px;
}
